/* card style css */
.card {
    flex: 0 0 150px;
    height: 260px;
    padding: .5em;
    overflow: hidden;
    border-radius: .5rem;
    transition: all .4s;
    margin: 10px;
}
.card:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.35);
    transform: translateY(-2px);
}
.card .card-img {
    height: 64%;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}
.card .card-img img{
    width: 100%;
    height: fit-content;
    transform: translateY(-10%);
}
.card .card-info{
    padding: 9% 5px 0 5px;
}
.card .text-title {
    font-family: "Teko", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.card .text-type {
    font-weight: 500;
    font-size: .9em;
    line-height: 1.5;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.card .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 5px 0 5px;
}
.card .text-price{
    font-size: 1.1em;
    font-weight: 600;
}

@media (max-width: 600px){
    .card {
        flex: 0 0 130px;
        height: 240px;
    }
    .card .text-title {
        font-weight: 800;
        font-size: 1em;
        line-height: 1.5;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .card .text-type {
        font-weight: 500;
        font-size: .8em;
        line-height: 1.5;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .card .text-price{
        font-size: .9em;
        font-weight: 700;
    }
}