/* footer */
footer{
    width: 100%;
    height: 85vh;
    position: fixed;
    bottom: 0;
    z-index: -9;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .contact,
footer .menu-footer,
footer .social-media{
    width: 25%;
    transform: translateX(10%);
    padding-top: 8%;
}
footer h4{
    font-size: 24px;
}
footer ul li{
    margin: 10px 0 10px 0;
    width: fit-content;
    font-size: 17px;
}
footer .copyright{
    position: absolute;
    bottom: 20px;
}
footer .copyright:hover{
    text-decoration: underline;
}