.container-loader.active{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 999999999;
    display: flex;
}
.container-loader{
    display: none;
}
.container-loader .loader {
  width: 100px;
  height: 100px;
  position: relative;
  animation: spin 3s linear infinite;
  margin: auto;
}
.container-loader .loader::before,
.container-loader .loader::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 4px solid #4F46E5;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinRing 1.5s ease-out infinite;
  box-shadow: 0 0 10px #4F46E5;
}
.container-loader .loader::before {
  filter: blur(10px);
}
@keyframes spinRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
