.container-type{
    width: 100%;
    height: calc(100vh - 90px);
    padding-top: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 999999999;
}
.container-type .choice-type{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.choice-type .choice-type ul{
    width: 100%;
    height: fit-content;
}
.container-type .choice-type ul li{
    width: fit-content;
    font-size: 22px;
    font-family: "Teko", sans-serif;
    padding: 10px 15px;
    margin: 5px;
}
.container-type .choice-type ul li:hover{
    color: #707072;
}
.container-type .choice-type ul li.active{
    font-size: 28px;
    text-decoration: underline;
}
.container-type .choice-type ul li.active:hover{
    color: inherit;
}
/* items container */
.items::-webkit-scrollbar {
    width: 6px;
}
.items::-webkit-scrollbar-thumb {
    background: #888;
}
.container-type .items{
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 500px){
    .container-type{
        flex-direction: column;
    }
    .container-type .choice-type{
        width: 100%;
        height: 50px;
        justify-content: center;
        position: fixed;
        top: 80px;
        z-index: 7;
        background-color: white;
    }
    .container-type .choice-type ul::-webkit-scrollbar {
        height: 0px;
    }
    .container-type .choice-type ul::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .container-type .choice-type ul{
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
    .container-type .choice-type ul li{
        font-size: 17px;
        padding: 8px 12px;
        margin: 5px;
        white-space: nowrap;
    }
    .container-type .choice-type ul li.active{
        font-size: 20px;
    }
    /* item card */
    .container-type .items{
        width: 100%;
    }
}
